# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Django-specific
db.sqlite3
/media/
/staticfiles/

# Environment variables & secrets
*.env
.env.*

# Logs
*.log

# IDE / Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Coverage / testing
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/
